    <div class="row-fluid">
      <div class="span12">

<h1>Jobs</h1>

<% @jobs.each do |j| %>
  <b><%= j.name %></b>
  <ul><li><%= j.latitude %></li>
  <li><%= j.longitude %></li></ul>
<% end %>

</div>
</div>


