<style>
    body { margin:0; padding:0; }
    #map { position:absolute; top:3.6em; bottom:0; width:70%; }

    tr {
    cursor: pointer;
    }
</style>
<div ng-controller='JobsCtrl'>
    <map ng-model='list'></map>
</div>
